<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.atriumtech.RestassuredFramework.testing.TestCaseLevel</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCompanyById</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logInwithValidData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createCompany</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>writeResults</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
