<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseLevel.createAccount()[pri:4, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">createAccount</td> 
  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseLevel.createCompany()[pri:2, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">createCompany</td> 
  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseLevel.getCompanyById()[pri:3, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">getCompanyById</td> 
  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:15</td>   <td>-2336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseLevel.init()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseLevel.init()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseLevel.init()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseLevel.init()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:15</td>   <td>-2121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseLevel.logInwithValidData()[pri:1, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">logInwithValidData</td> 
  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseLevel.writeResults()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&lt;&lt;writeResults</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseLevel.writeResults()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&lt;&lt;writeResults</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseLevel.writeResults()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&lt;&lt;writeResults</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/19 17:19:17</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseLevel.writeResults()[pri:0, instance:com.atriumtech.RestassuredFramework.testing.TestCaseLevel@589838eb]">&lt;&lt;writeResults</td> 
<td>&nbsp;</td>  <td>main@1735934726</td>   <td></td> </tr>
</table>
